<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Copyright 2006 The Apache Software Foundation

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
	<display-name>OneBox Provider</display-name>
    <description>
        This application serves OneBox keymatch provider servlets
    </description>
	<servlet>
		<init-param>
			<param-name>keymatch_file</param-name>
			<param-value>/tmp/keymatches</param-value>
		</init-param>
		<init-param>
			<param-name>url_prefix</param-name>
			<param-value>http://localhost:8080/onebox/Keymatch?</param-value>
		</init-param>
	
		<load-on-startup>1</load-on-startup>
		<servlet-name>Keymatch</servlet-name>
		<!-- <servlet-class>Keymatch</servlet-class> -->
		<servlet-class>TrieKeymatch</servlet-class>
		
		 <!-- optional config when servelet-class is trieMatch.Keymatch -->
		<init-param>
			<param-name>SearchFlavor</param-name>
			<!-- longest, top, all, exp -->
			<param-value>all</param-value>
		</init-param>
		<init-param>
			<param-name>AggregatorName</param-name>
			<!-- aggregateConstant, aggregateMAX, aggregateMAXacc, aggregateSUM, aggregateSUMacc -->
			<param-value>aggregateSUM</param-value>
		</init-param>
		<init-param>
			<param-name>AggregatorParm</param-name>
			<!-- Optional parameter, gives constant to add on each aggregation step. -->
			<param-value>aggregateSUM</param-value>
		</init-param>
		
	</servlet>
	<servlet-mapping>
		<servlet-name>Keymatch</servlet-name>
		<url-pattern>/Keymatch</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>401</error-code>
		<location>/401.xml</location>
	</error-page>
</web-app>